@model Service.Domain.ViewModels.LoginAndRegistration.LoginViewModel

@{
    ViewData["Title"] = "Вход";
}

<section class="auth-section">
    <h2 class="auth-title">Вход</h2>

    <form asp-action="Login" method="post" class="auth-form">
        <input asp-for="Email" placeholder="Email" class="input-field" />
        <input asp-for="Password" type="password" placeholder="Пароль" class="input-field" />
        <button type="submit" class="btn btn-orange">Войти</button>
    </form>

    <p class="auth-register-text">
        Нет аккаунта? <a asp-action="Register">Зарегистрироваться</a>
    </p>
</section>
