<div class="container-section">
    <h2 class="info-sections">0 нас</h2>
    <p>
        Наши клиенты скажут о нас лучше, чем мы
        Более 3000 компаний уже выбрали  <Склад ПМР >для управления финансами. Мы помогли заработать им миллионы рублей, которые они упустили бы, если не вели системный учёт. Наш сервис действительно работает: взгляните, что говорят его пользователи.
    </p>
</div>