<div class="overlay" id="overlay"></div>

<div class="form-container" id="form-container">
    <div class="form-box login">
        <h2>Войти</h2>
        <form>
            <div class="input-box">
                <input type="text" required>
                <label>Логин</label>
            </div>
            <div class="input-box">
                <input type="password" required>
                <label>Пароль</label>
            </div>
            <button type="submit" class="btn">Войти</button>
            <p class="switch-form">Нет аккаунта? <a href="#" id="show-register">Зарегистрироваться</a></p>
        </form>
    </div>

    <div class="form-box register">
        <h2>Регистрация</h2>
        <form>
            <div class="input-box">
                <input type="text" required>
                <label>Имя пользователя</label>
            </div>
            <div class="input-box">
                <input type="email" required>
                <label>Email</label>
            </div>
            <div class="input-box">
                <input type="password" required>
                <label>Пароль</label>
            </div>
            <button type="submit" class="btn">Зарегистрироваться</button>
            <p class="switch-form">Уже есть аккаунт? <a href="#" id="show-login">Войти</a></p>
        </form>
    </div>
</div>
